@model SearchDto

@{
    ViewData["Title"] = "Search Products";
}

<div class="text-center">
    <h1 class="display-4">Search Products</h1>
    <p>In this page you can search for products.</p>
</div>
<form asp-controller="Product" asp-action="Search" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group p-4">
        <div class="d-table-cell">
            <input asp-for="Value" type="text" id="Value" name="Value" class="form-control" />
        </div>
        <div class="d-table-cell">
            <button type="submit" id="Search" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
<div class="container card-deck">
    <div class="row">
        @if (!Model.Products.Any())
        {
            <div class="col-md-4">
                <p>There are no products matching your search criteria.</p>
            </div>
        }
        else
        {
            foreach (var product in Model.Products)
            {
    <div class="col-md-4 card">
        <img src="https://@product.Image" height="128" width="128" />
        <p>Brand: @product.Brand</p>
        <p>Description: @product.Description</p>
        <p>Original Price: @product.OriginalPrice</p>
        <p>Price With Discount: @product.PriceWithDiscount</p>
    </div>
            }
        }
    </div>
</div>